<div class="RSVPDiv">
  <h1> RSVP </h1>
  <div class="formColumn">
    <%= simple_form_for guest_path(@guest) do |f| %>
      <div class="formRow">
        <div class="formInput">
          <%= f.label :email_address %>
          <%= f.input_field :email_address %>
        </div>
      </div>

      <div class="formRow">
        <div class="formInput">
          <%= f.label :first_name %>
          <%= f.input_field :first_name %>
        </div>
        <div class="formInput">
          <%= f.label :last_name %>
          <%= f.input_field :last_name %>
        </div>
      </div>

      <div class="formRow">
        <div class="formInput">
          <%= f.label :address %>
          <%= f.input_field :address %>
        </div>
        <div class="formInput">
          <%= f.label :city %>
          <%= f.input_field :city %>
        </div>
      </div>
      
      <div class="formRow">
        <div class="formInput">
          <%= f.label :state %>
          <%= f.input_field :state %>
        </div>
        <div class="formInput">
          <%= f.label :zipcode %>
          <%= f.input_field :zipcode %>
        </div>
      </div>
      <p>Please enter the number of people in your party (including yourself) that will be coming to wedding</p>
      <%= f.label :rsvp_number %>
      <%= f.input_field :rsvp_number, as: :integer %>
      <br>
      <%= f.submit 'Save' %>
    <% end %>
  </div>
  <%= link_to 'Go Back To Main Page', root_path, method: :get %>
</div>